# Bot configuration
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
SUPPORT_USERNAME=sup_cypher
DEBUG=false

# Database configuration
DB_USER=postgres
DB_PASSWORD=cypher_db_secure_pass
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cypher_db

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379

# External Marketplace API configuration
EXTERNAL_API_URL=http://localhost:8000
EXTERNAL_API_TOKEN=site_side_super_secret_token

# Local webhook configuration (to receive payment alerts)
WEBHOOK_PORT=8080
WEBHOOK_SECRET=local_payment_webhook_secret_signature
